* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --mengsirkel: 20px;
    --text-color: #333;
    --bg-panel: #FAFAFA;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container-utama {
    max-width: 1280px;
    margin: 50px 0;
}

.container-card {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.container-card .card {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 20px;
    display: flex;
    transition: .5s;
    justify-content: flex-start;
    align-items: center;
}

.container-card .card:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(/assets/img/bg.webp);
    background-size: cover;
    -webkit-filter: blur(0);
    filter: blur(0);
    border-radius: var(--mengsirkel);
}

.container-card .card:hover:before {
    -webkit-filter: blur(2px);
    filter: blur(2px);
    transition: .3s ease-in-out;
}

.container-card .card img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 325px;
    transition: .5s;
    z-index: 2;
}

.container-card .card:hover img {
    left: 73%;
    height: 400px;
}

.container-card .card .content {
    position: relative;
    width: 50%;
    left: 20%;
    padding: 20px;
    padding-bottom: 40px;
    margin: 20px;
    opacity: 0;
    visibility: hidden;
    transition: .4s ease;
    z-index: 1;
    background-color: var(--bg-panel);
    border-radius: var(--mengsirkel);
    transform: scale(.8);
}

.container-card .card:hover .content {
    left: 0;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.container-card .card .content h2 {
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 1.7em;
    line-height: 1em;
    margin-bottom: 1rem;
}

.container-card .card .content p {
    color: var(--text-color);
    margin-bottom: 1rem;
}

.container-card .card .content a {
    position: relative;
    color: var(--text-color);
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 700;
    border-radius: var(--mengsirkel);
    border: 1px solid var(--text-color);
}

@media screen and (max-width: 1258px) {
    .container-card .card {
        width: auto;
    }
}

@media screen and (max-width: 991px) {
    .container-card .card {
        max-width: 600px;
    }
}

@media screen and (max-width: 767px) {
    .container-card {
        grid-template-columns: 1fr;
        flex-direction: column;
    }

    .container-card .card {
        margin: 40px 20px;
        align-items: flex-end;
    }

    .container-card .card:hover img {
        left: 73%;
        height: 380px;
    }

    .container-card .card .content {
        width: 50%;
        left: 0;
        padding: 40px;
    }
}

@media screen and (max-width: 420px) {
    .container-card .card .content {
        padding: 30px
    }

    .container-card .card:hover img {
        left: 50%;
        height: 350px;
    }

    .container-card .card .content {
        width: 100%;
        left: 0;
        padding: 15px;
        z-index: 3;
    }

    .container-card .card .content h2 {
        font-size: 1.4em;
    }

    .container-card .card .content p {
        font-size: .96em;
    }

    .container-card .card .content a {
        font-size: .96em;
    }

}